[submodule "src/cpp/third_party/doctest"]
	path = src/cpp/third_party/doctest
	url = https://github.com/doctest/doctest.git
[submodule "src/cpp/third_party/nlohmann/json"]
	path = src/cpp/third_party/nlohmann/json
	url = https://github.com/nlohmann/json.git
[submodule "tools/bin"]
	path = tools/bin
	url = https://github.com/acdvorak/displayprober-bin.git
